<div class="vertical-socials">
  <a href="mailto:{{ site.email | encode_email }}" class="social-link">
    <i class="fa-solid fa-envelope"></i>
    <span>Email</span>
  </a>
  <a href="https://github.com/{{ site.github_username }}" class="social-link">
    <i class="fa-brands fa-github"></i>
    <span>Github</span>
  </a>
  <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" class="social-link">
    <i class="fa-brands fa-linkedin"></i>
    <span>LinkedIn</span>
  </a>
  <a href="https://scholar.google.com/citations?user={{ site.scholar_userid }}" class="social-link">
    <i class="ai ai-google-scholar"></i>
    <span>Google Scholar</span>
  </a>
  <a href="/assets/pdf/Gershom_Seneviratne_CV_Academic_v2.pdf" target="_blank" rel="noopener noreferrer" class="social-link">
    <i class="fa-solid fa-file-pdf"></i>
    <span>Curriculum Vitae</span>
  </a>
</div>

